.form-group {
  flex: 3;
  margin: 1.25em 1em;
  min-width: 15em;
  transition: margin-bottom 200ms ease-in;
}

.form-group-wide {
  min-width: 20em;
  flex: 5;
}

.form-group-error {
  margin-bottom: 0;
}

label {
  display: block;
  margin-bottom: .4em;
}
.subtext {
  font-size: .8em;
}

.form-group > input {
  box-sizing: border-box;
  width: 100%;
}

.button-list {
  display: flex;
}
.button-list > input[type=button] {
  flex: 1;
}
.button-list > input[type=button]:focus {
  border-color: rgba(0, 128, 0, 0.151);
}
input[type=button]:focus {
  border-color: rgba(0, 128, 0, 0.151);
}
.button-list > .selected {
  background-color: rgba(0, 128, 0, 0.308);
  border-color: rgba(0, 128, 0, 0.151);
}

.error-message {
  height: 1.25em;
  color: white;
  text-align: center;
  background-color: rgb(204, 52, 52);
  opacity: 1;
  transition: height 200ms ease-in, opacity 500ms ease-out;
}
.error-message-hidden {
  height: 0;
  opacity: 0;
}
