.form-group {
  flex: 3;
  margin: 1em 1em;
  min-width: 15em;
}

.form-group-wide {
  min-width: 20em;
  flex: 5;
}

label {
  display: block;
  margin-bottom: .4em;
}
.subtext {
  font-size: .8em;
}

.form-group > input {
  width: 100%;
}

.button-list {
  display: flex;
}
.button-list > input[type=button] {
  flex: 1;
}
