.info-form {
  max-width: 550px;
  background-color: #fafafa;
  padding: 1em 1em;
}

.form-header {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
  font-size: .75em;
}

.form-group > input, .form-group > .error-message {
  width: 16em;
}

.form-group > label {
  font-weight: bold;
  display: block;
  padding-bottom: .25em;
}

input {
  padding:.375em .75em;
  border: 1.5px solid #ced4da;
  border-radius: .25em;
  z-index: 1;
  transition: box-shadow 150ms ease-in-out, border-color 150ms ease-in-out;
}
input:hover, input:focus {
  border-color: #707579;
}
input:focus {
  border-color: #51ace9;
}
input::placeholder {
  color: #a5a5a5;
}

.submit-button {
  margin-top: 1em;
}

.error-message {
  color: #f03737;
  margin-left: .375em;
  padding: .45em .845em;
  border-radius: .25em;
  background-color: #f6e2e2;
}
input + .error-message {
  margin-left: .75em;
}

.form-header {
  text-align: center;
}

.input-error-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.show-error-enter {
  opacity: 0.01;
}
.show-error-enter.show-error-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.show-error-leave {
  opacity: 1;
}
.show-error-leave.show-error-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}
