.App {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.body {
  margin-top: 1em;
}

.score-card {
  margin-top: 200px;
  padding: 2em;
  border-radius: .25em;
  border: 1px solid #c2c2c2;
}

.score-message {
  font-size: 1.25em;
  margin-bottom: 2em;
}

