.App {
  width: 95%;
  margin: 0 auto;
}

.body {
  margin-top: 1em;
}
@media screen and (min-width: 1200px) {
  .body {
    display: flex;
    flex-direction: row-reverse;
  }
}

.info-form {
  flex: 2;
  align-self: stretch;
}

.side-info {
  flex: 1;
  margin: 0 2em;
}

.score-card {
  margin-top: 200px;
  padding: 2em;
  border-radius: .25em;
  border: 1px solid #c2c2c2;
}

.score-message {
  font-size: 1.25em;
  margin-bottom: 2em;
}

